<div class="item">
    <div><label for="avartar_url">Avatar</label></div>
    <div><input type="url" name="avatar_url" id="avatar_url" placehoder="http://"
    value= "{{student.avatar_url}}"></div>
</div>
<div class="item">
    <div><label for="name">Nome</label></div>
    <div><input type="text" name="name" id="name" placehoder="Preencha o nome completo"
    value="{{student.name}}"></div>
</div>


<div class="item">
    <div><label for="email">Email</label></div>
    <div><input type="email" name="email" id="email" placehoder="Preencha o nome completo"
    value="{{student.email}}"></div>
</div>

<div class="item">
    <div><label for="birth">Data de Nascimento</label></div>
    <div><input type="date" name="birth" id="birth"
    value="{{student.birth}}"></div>
</div>


<div class="item">
    <div><label for="education_level">Ano Escolar</label></div>
    <div>
        <select name="education_level" id="education_level"> 
            <option value="1F" {% if student.education_level == "1F" %} selected {% endif %}>
                1&deg Ano Ensino Fundamental
            </option>
            <option value="2F" {% if student.education_level == "2F" %} selected {% endif %}>
                2&deg Ano Ensino Fundamental
            </option>
            <option value="3F" {% if student.education_level == "3F" %} selected {% endif %}>
                3&deg Ano Ensino Fundamental
            </option>
            <option value="4F" {% if student.education_level == "4F" %} selected {% endif %}>
                4&deg Ano Ensino Fundamental
            </option>
            <option value="5F" {% if student.education_level == "5F" %} selected {% endif %}>
                5&deg Ano Ensino Fundamental
            </option>
            <option value="6F" {% if student.education_level == "6F" %} selected {% endif %}>
                6&deg Ano Ensino Fundamental
            </option>
            <option value="7F" {% if student.education_level == "7F" %} selected {% endif %}>
                7&deg Ano Ensino Fundamental
            </option>
            <option value="8F" {% if student.education_level == "8F" %} selected {% endif %}>
                8&deg Ano Ensino Fundamental
            </option>
            <option value="9F" {% if student.education_level == "9F" %} selected {% endif %}>
                9&deg Ano Ensino Fundamental
            </option>
            <option value="1M" {% if student.education_level == "1M" %} selected {% endif %}>
                1&deg Ano Ensino Médio
            </option>
            <option value="2M" {% if student.education_level == "2M" %} selected {% endif %}>
                2&deg Ano Ensino Médio
            </option>
            <option value="3M" {% if student.education_level == "3M" %} selected {% endif %}>
                3&deg Ano Ensino Médio
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div><label for="class_hours">Carga Horaria Semanal(hr)</label></div>
    <div><input type="number" name="class_hours" id="class_hours"
    value="{{student.class_hours}}"></div>
</div>


<div class="item">
    <div><label for="teacher">Professor</label></div>
    <div>
        <select name="teacher"> 
            {% for teacher in optionsTeacher %}
                <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %} selected {% endif %}>
                    {{teacher.name}}
                </option>
            {% endfor %}
           
        </select>
    </div>
</div>


<button type="Submit">Salvar</button>