{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url('{{student.avatar_url}}') no-repeat center center / cover;">
        </section>
        <section class="details">
            <h3 class="title">Detalhes</h3>
            <div>
                <div class="item">
                    <p>Nome completo</p>
                    <p>{{student.name}}</p>
                </div>

                <div class="item">
                    <p>Email</p>
                    <p>{{student.email}}</p>
                </div>

                <div class="item">
                    <p>Data de Aniversario</p>
                    <p>{{student.birthDate}}</p>
                </div>

                <div class="item">
                    <p>Ano Escolar</p>
                    <p>{{student.degree}}</p>
                </div>

                <div class="item">
                    <p>Carga Horaria Semanal(hr)</p>
                    <p>{{student.classHours}}</p>
                </div>
               
                <div class="item">
                    <a href="/students">Voltar</a>
                </div>  
            </div>
        </section>
    </div>
{% endblock content %}ß