{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar">
        </section>
        <form class="details" method="POST" action="/teachers">
            <h3 class="title">New Teacher</h3>
             
            
            {% include 'teachers/fields.njk'%}
            
        </form>
    </div>
{% endblock content %}