{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url('{{teacher.avatar_url}}') no-repeat center center / cover;">
        </section>
        <section class="details">
            <h3 class="title">Detalhes</h3>
            <div>
                <div class="item">
                    <p>Nome completo</p>
                    <p>{{teacher.name}}</p>
                </div>
                <div class="item">
                    <p>Idade</p>
                    <p>{{teacher.age}} anos</p>
                </div>
                <div class="item">
                    <p>Grau de Escolaridade</p>
                    <p>{{teacher.education_level}}</p>
                </div>
                <div class="item">
                    <p>Tipo de Aula</p>
                    <p>{{teacher.class_type}}</p>
                </div>
                <div class="item">
                    <p>Acompanhamento</p>
                    <p>
                        {% for area in teacher.subjects_taught %}
                            <span>{{area}}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="item">
                    <p>Desde</p>
                    <p>{{teacher.created_at}}</p>
                </div>
                <div class="item">
                    <a href="/teachers">Voltar</a>
                </div>
               
            </div>
        </section>
    </div>
{% endblock content %}ß