<div class="item">
    <div><label for="avartar_url">Avatar</label></div>
    <div><input type="url" name="avatar_url" id="avatar_url" placehoder="http://"
    value= "{{teacher.avatar_url}}"></div>
</div>
<div class="item">
    <div><label for="name">Nome</label></div>
    <div><input type="text" name="name" id="name" placehoder="Preencha o nome completo"
    value="{{teacher.name}}"></div>
</div>

<div class="item">
    <div><label for="birth">Data de Nascimento</label></div>
    <div><input type="date" name="birth" id="birth"
    value="{{teacher.birth}}"></div>
</div>


<div class="item">
    <div><label for="degree">Nivel de Escolaridade</label></div>
    <div>
        <select name="degree" id="degree" class="degree"> 
            <option value="E">Ensino Médio Completo</option>
            <option value="S">Ensino Superior Completo</option>
            <option value="M">Mestrado</option>
            <option value="D">Doutorado</option> 
        </select>
    </div>
</div>


<div class="item">
    <div> 
        <label for="class">Tipo de Aula</label>
    </div>
    <div class="tipo-aula">
        <input type="radio" name="classes" id="presencial" value="P"
        {% if teacher.classes == 'P' %}
        checked
        {% endif %}> 
        <label for="presencial">Presencial</label><br>
        <input type="radio" name="classes" id="distancia" value="D"
        {% if teacher.classes == 'D' %}
        checked
        {% endif %}> 
        <label for="distancia">Á Distância</label>
    </div>
    
</div>

<div class="item">
    <div>
        <label for="area">Área de Atuação</label>
    </div>
    <div>
        <input type="text" name="area" id="area" placehoder="Separe por virgulas a area de atuacao"
        value="{{teacher.area}}">
    </div>
</div>

<button type="Submit">Salvar</button>