{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar">
        </section>
        <section class="details">
            <h3 class="title">Detalhes</h3>
            <div>
                <div class="item">
                    <p>Nome completo</p>
                    <p>Daniel Amaral</p>
                </div>
                <div class="item">
                    <p>Idade</p>
                    <p>28 anos</p>
                </div>
                <div class="item">
                    <p>Grau de Escolaridade</p>
                    <p>Bacharel</p>
                </div>
                <div class="item">
                    <p>Tipo de Aula</p>
                    <p>Presencial</p>
                </div>
                <div class="item">
                    <p>Acompanhamento</p>
                    <p>
                        <span>Fisica</span>
                        <span>Matematica</span>
                    </p>
                </div>
                <div class="item">
                    <p>Desde</p>
                    <p>20/10/2020</p>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}